{% extends 'main/base.html' %}

{% block title%}
Create a New Post | Social Blogging
{% endblock %}

{% block start %}
<div class="container">
    <h1>Add New Post</h1>
    <div class="form-group">
        <form class="post-sec" autocomplete="off" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="left-sec">
                <p>
                    {{ form.title}}
                </p>
                <p>
                    {{form.body}}
            </div>
            <div class="right-sec">
                <div class="sec1">
                    <p>
                        <label for="id_tag">Select Categories:</label>
                        {{ form.category }}
                    </p>
                    {% comment %}
                    <p>
                        <label for="id_tag">Select Status:</label>
                        {{ form.status }}
                    </p>
                    {% endcomment %}
                    <p>
                        <label for="id_slug">Post Url</label>
                        {{ form.slug }}
                        {% if form.errors.slug %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{error}}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <div class="sec2">
                    <p>
                        <label for="id_tag">snippet <small>(Under 200 Characters)</small> </label>
                        {{ form.snippets }}
                    </p>
                </div>
                <!-- Display the image preview on the add image! -->
                <div class="sec3">
                    <input type="file" id="id_image" name="image" multiple accept="image/*" style="display:none" class="form-control">
                    <a href="#" id="fileSelect">Upload Image</a>
                    <div id="fileList">
                        <p>No image selected!</p>
                        <spam>
                        {% if form.errors.image %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{error}}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                        </spam>
                    </div>
                </div>
                <button class="btn btn-primary but1" name="status" id="id_status" type="submit" value="d">Save as Draft</button>
                <button class="btn btn-success" name="status" id="id_status" type="submit" value="p">Publish</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}