*{
    box-sizing: border-box;
}
.mfoot{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.column{
    width: auto;
    height: auto;
    background-color: #191a1c;
    color: #fff;
    padding: 100px;
    }