.p-container{
    width: 100%;
    min-height: 80vh;
}
.p-wrapper{
    width: 100%;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-width{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
}
.user-img{
    max-width: 200px;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.author-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.author-sec p {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}
.abt{
    max-width: 800px;
    width: 100%;
    text-align: center;
}
.post-no{
    margin-top: 20px;
    text-transform: capitalize;
}
.profile_post{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-articles{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    padding: 20px 10px;
}