* {
    box-sizing: border-box;
}
* a{
    text-decoration: none !important;
    color: inherit;
}
* a:hover{
    color: inherit;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', arial, sans-serif;
    font-size: 1rem;
}
body{
    min-height: 100vh;
}
:root{
    --primary-color: #374bff;
    --secondary-color: #282a35;
    --other-color: #f47938;
    --primary-font: 'inter', arial, sans-serif;
}

/* ----------------------------------------------------- */
/* Start of navigation */
.nav_primary{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 1px 1px 12px rgb(231, 231, 231);
}
.left_sec{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-weight: 700;
    font-size: 1.8rem;
    width: 200px;
    color: var(--secondary-color);
    line-height: 1.6rem;
    font-family: var(--primary-font);
}
.menu{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-width: 50%;
    width: 100%;
    gap: 40px;
}
.menu a>* {
    padding: 0 40px 0 0;
}
.menu a{
    text-transform: uppercase;
    font-size: 1.1rem;
    color:var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 700;
}
.menu a:hover{
    color: var(--primary-color);
}
.right_sec{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 30%;
    height: 100%;
    white-space: nowrap;
}
.dropdown{
    max-width: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.dropbtn{
    display: block;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    width: auto;
    padding: 5px 10px;
}
.pe{
    pointer-events: none;
}
.write{
    color: #282a35;
    font-weight: 700;
    font-size: 1.1rem;
}
.pi{
    margin-right: 6px;
    font-size: 1.4rem;
}
.write:hover {
    color: #374bff;
}
.dropdown-content {
    width: auto;
    display: none;
    position: absolute;
    top: 68px;
    right: -20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    border: 1.5px solid rgb(206, 206, 206);
    border-radius: 0.3rem;
}
.dropdown-content a, .dropdown-content p {
    padding: 10px 10px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 500;
}
.dropdown-content a:hover{
    background-color: #282a35;
    color: white;
}
.dropdown-content span{
    font-weight: 600;
}
.uline{
    border-bottom: 1px solid rgb(206, 206, 206);
    margin: 0;
}
.show {
    display: block;
}
.circle{
    width: 35px;
    height: 35px;
    image-resolution: 480px;
    border-radius: 50%;
    margin-right: 5px;
}
.sicon{
    color: #282a35;
    margin-right: 10px;
    padding: 5px 5px;
}
.sicon:hover{
    color: #374bff;
}
.search{
    display: block;
    background-color: #FFF;
    border: none;
    padding: 5px 0px;
}
.mbut{
    display: block;
    position: relative;
    font-size: 1.1rem;
    color: rgb(66, 66, 66);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    padding: 9px 35px 9px 35px;
}
.rbut{
    background-color: #374bff;
    color: #fff;
}
.rbut:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
    color: #fff;
}
.lbut{
    background-color: #282a35;
    color: #fff;
}
.lbut:hover{
    color: #Fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9) 0 0);
}
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.92);
}

.overlay-content {
    position: relative;
    top: 46%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
    width: 60%;
    border-bottom: 3px solid #f55e0d;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 5rem;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #f55e0d;
}

.overlay input[type=text] {
    font-size: 2.4rem;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    width: calc(100% - 100px);
    padding-bottom: 10px;
}

.overlay input[type=text]::placeholder {
    color: rgb(255, 255, 255, 1);
    font-size: 2.4rem;
    font-weight: 600;
}

.overlay input[type=text]:focus{
    border: none;
    outline: none;
}

.overlay button {
    font-size: 2.4rem;
    background-color: transparent;
    border: none;
    color: #fff;
    width: 50px;
    margin-right: 20px;
    float: left;
}

.overlay button:hover {
    color: #f55e0d;
}

/* *End of navigation */
/* !----------------------------------------------------------------- */

/* *Styles for index.html */
.content{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-card{
    max-width: 1200px;
    width: 100%;
    max-height: 600px;
    position: relative;
    text-align: center;
    color: #FFF;
    display: block;
    cursor: pointer;
    margin-top: 60px;
}
.p-card-img{
    max-width: 100%;
    width: 100%;
    max-height:600px;
    object-fit: cover;
}
.card-meta{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 10px;
}
.card-meta h2{
    font-weight: 700;
    font-size: 2.4rem;
}
.card-meta p{
    font-weight: 600;
    font-size: 1.4rem;
}
.p-link, .p-link:hover{
    color: #FFF;
}
.t-sec{
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.t-wrapper{
    max-width: 1300px;
    width: 100%;
    color: #FFF;
    padding: 50px 50px;
}
.t-wrapper h2{
    padding-bottom: 20px;
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 2.2rem;
    text-transform: uppercase;
    word-spacing: 10px;
    color: var(--other-color);
}
.trending-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 0 35px;
    align-self: center;
}
.trending{
    max-width: 1fr;
    width: 100%;
    height: auto;
    /* background-color: #FFF;
    padding: 20px; */
}
.trending-img{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}
.trending-info{
    padding-top: 20px;
}
.trending-info p{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    color : var(--other-color);
    margin-bottom: 5px;
}
.trending-info h3{
    font-size: 1.3rem;
    font-weight: 700;
}
.main-content{
    max-width: 1200px;
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 290px;
    padding-bottom: 100px;
}
.articles{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.articles h2{
    text-transform: uppercase;
    color: #111;
    font-weight: 800;
    font-size: 2.4rem;
}
.articles h2 i{
    color: var(--primary-color);
    margin-right: 8px;
}
.post{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-auto-rows: 1fr;
    column-gap: 20px;
}
.post-image{
    grid-column: 1;
    grid-row: 1;
}
.m-img{
    width: 100%;
    max-width: 350px;
    height:auto;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
}
.c-link, .c-link:hover{
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 700;
}
.p-title, .p-title a{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}
.p-title a:hover{
    color: #000;
}
.p-snippet{
    font-size: 1.1rem;
    font-weight: 600;
}
.m-post-meta{
    display: flex;
    flex-direction: row;
}
.post-ai{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 6px;
}
.post-author, .post-author:hover{
    color: #525252;
    font-size: 1rem;
    font-weight: 600;
}
.time{
    color: #525252 ;
    font-size: 0.9rem;
    margin-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

/* ------------------------------------------------------- */
/* css for search.html */
.search-sec{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-title{
    margin-bottom: 30px;
    font-size: 2.2rem !important;
}
.nf{
    margin-top: 10%;
    text-align: center;
    font-size: 1.4rem;
}